<!DOCTYPE html>
<html lang="en" ng-app='ACSApp'>

  <head>

    <meta charset="utf-8">    
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AccountingSuite Vietnam</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

  </head>

  <body>


<!--     <div ng-controller='RegController as ctrl'>

  <div class="form-group narrow-button">
    <button class="btn btn-primary" ng-click="ctrl.narrowIt()">Narrow It Down For Me!</button>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div ng-if="ctrl.showMessage()">{{ctrl.message}}</div>
    <found-items found="ctrl.foundItems" message="ctrl.message" on-remove="ctrl.removeItem(index)"></found-items>
  </div>


      <h3>List of Menu Categories</h3>
      <ul>
        <li ng-repeat="category in menu.categories">
          (<a href="" ng-click="ctrl.logMenuItems(category.short_name);">{{ category.short_name }}</a>)
          {{ category.name }}
        </li>
      </ul>
    </div> -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
       <div class="navbar-brand">
            <img src="img/acs-logo-narrow.png" alt="ACS Logo" class="img-logo">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"><div class="yellow-header">About</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div class="yellow-header">Services</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div class="yellow-header">Contact</div></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1 class="yellow-header">PERFECT FOR YOU</h1>
          <h4 class="sub-header">From start-ups to small business owners to accountants and bookkeepers, AccountingSuite is flexible, powerful and reliable.</h4>
          <hr class="intro-divider">
          <section>
            <div ng-controller='RegController as ctrl' class="reg-section">
              <span class="network-name btn btn-secondary btn-lg register" ng-click="ctrl.showMessageForUser();">Try now</span>
              <div ng-if="ctrl.showMessage"> 

                <form name='regForm' novalidate>

                  <input type="email" name="email" placeholder="Email"
                  ng-model="reg.user.email" class="register"
                  required size=30>
                  <span ng-if="regForm.email.$invalid && regForm.email.$touched"><br>
                    Must be a valid email address: handle@domain format
                  </span>
                  <br>
                  <input type="password" name="password" placeholder="Password"
                  ng-model="reg.user.password"
                  required size=30 class="register">
                  <span ng-if="regForm.password.$invalid && regForm.password.$touched"><br>
                    Must be a valid password
                  </span>
                  <br>
                  <span class="network-name btn btn-secondary btn-lg register" ng-click="ctrl.regNewUser();" ng-disabled="regForm.email.$invalid || && regForm.password.$invalid">Register</span><br>
                  <span ng-if="ctrl.showCheckEmail">
                    Check your email
                  </span>
                </form>

              </div>
            </div>
          </section>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-0">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 ml-auto">
            <p class="lead top-title"><strong>AccountingSuite</strong> is a powerful, all-in-one business application for accounting, cloud banking,&nbsp;order management,&nbsp;inventory management, project and time tracking into one cloud-driven platform.&nbsp;</p>
          </div>
          <div class="col-xs-12 mr-auto">
            <img class="img-fluid" src="img/acs-mac-logo.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 mx-auto my-auto d-block">
            <div class="clearfix"></div>
            <h2 class="section-heading">We are the best</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-5 mx-auto my-auto d-block">
            <img class="img-fluid mx-auto d-block" src="img/acs-list1.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mx-auto my-auto d-block order-lg-2">
            <div class="clearfix"></div>
            <h2 class="section-heading">For sure</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-5 mx-auto my-auto d-block order-lg-1">
            <img class="img-fluid mx-auto d-block" src="img/acs-list2.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mx-auto my-auto d-block">
            <div class="clearfix"></div>
            <h2 class="section-heading">Everybody loves us</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-5 mx-auto my-auto d-block">
            <img class="img-fluid mx-auto d-block" src="img/acs-list3.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <section class="content-section-0">

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-xs-12 full-width">
            <p class="lead top-title full-width"><strong>AccountingSuite</strong> will seize the world </p>
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>
    <!-- Footer -->
    <footer>
      <!-- Page Content -->
 
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
